[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ebaysdk = "*"
requests = "*"
django = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
tensorflow = "==1.7.0"

[dev-packages]
