[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ebaysdk = "*"
requests = "*"
django = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
tensorflow = "==1.15.4"
geocoder = "*"
pillow = "*"
docopt = "*"
django-cors-headers = "*"
pylint = "*"

[dev-packages]
