* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  background-color: #edfd38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.icon-nav {
  display: flex;
}

.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:first-child > a {
  margin-right: auto;
}

.nav-icons {
  margin-left: auto;
}

nav .icon img {
  height: 35px;
  padding: 5px;
  /* display: inline-block; */
}

nav .icon.selected img,
nav .icon:hover img,
nav .icon.router-link-active img {
  outline: 1px solid #000;
}

#logo {
  text-transform: uppercase;
  font-weight: bold;
  /* margin: 20px 0px; */
  font-size: 29px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome,
.info-screen {
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.explore {
  background-image: url("/static/ribbon.png");
  background-repeat: no-repeat;
  display: block;
  width: 274px;
  height: 51px;
  line-height: 51px;
  margin: auto;
}

.explore:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-pagination {
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.plate-pagination a {
  margin: 0px 20px;
}

.plate-pagination img {
  display: block;
  height: 100%;
}

.plate-container {
  /* width: 100%; */
  /* display: grid; */
  /* grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 70px;
}

.plate {
  flex: 0 0 auto;
  width: 12.5%;
  text-align: center;
  padding: 3px;
}

.plate-image,
.plate-video {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 100%;
  /* filter: contrast(200%); */
  /* border: 3px solid #000; */
  /* box-shadow: 0px 0px 10px #000; */
}

.listing {
  max-width: 45%;
  /* padding: 5px; */
  border-radius: 100%;
  /* background-color: #000; */
  border: 1px solid #000;
  margin: 15px auto;
}

.listing-image {
  display: block;
  width: 100%;
  /* max-width: 50%; */
  /* margin: 5px; */
  /* border-radius: 5px; */
  border-radius: 100%;
  opacity: 0.1;
  /* opacity: 0.5; */
  /* border: 2px solid #333; */
  /* transform: translate(0px, 0px); */
  /* left: 0; */
  /* top: 0; */
  /* transition: 1s transform; */
  /* display: none; */
}

.listing-image:hover {
  opacity: 1;
  /* display: block; */
}

.plate-detail-image {
  max-height: 200px;
}

.plate-detail-listings {
  display: flex;
  flex-wrap: wrap;
}

.plate-detail-listing {
  width: 12.5%;
  padding: 10px;
}

.plate-detail-listing p {
  margin: 0;
}

.plate-detail-listing img {
  width: 100%;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

#map-container {
  position: absolute;
  top: 90px;
  bottom: 0;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.map-item {
  position: absolute;
  width: 20px;
  height: 20px;
}

.map-listing-image {
  width: 100%;
  display: block;
  border-radius: 100%;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}
.tooltip .tooltip-inner {
  background: black;
  color: white;
  /* border-radius: 16px; */
  /* padding: 5px 10px 4px; */
  padding: 10px;
  max-width: 200px;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 10px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
