* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a.admin-link {
  color: red;
  text-decoration: underline;
}

nav {
  background-color: #edfd38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: auto;
}

.icon-nav {
  display: flex;
}

.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:first-child > a {
  margin-right: auto;
}

.nav-icons {
  margin-left: auto;
}

nav .icon {
  display: inline-block;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  /* margin-top: 10px; */
}

nav .icon span {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 45px;
  opacity: 1;
}

nav .icon img {
  height: 45px;
  padding: 0px;
  display: block;
  /* display: inline-block; */
}

nav .icon.selected img,
nav .icon:hover img,
nav .icon.router-link-active img {
  outline: 1px solid #000;
}

nav .icon.selected span,
nav .icon:hover span,
nav .icon.router-link-active span {
  display: block;
}

#logo {
  text-transform: uppercase;
  font-weight: bold;
  /* margin: 20px 0px; */
  font-size: 29px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.model-holder {
  flex: 1;
}

.info-screen {
  max-width: 800px;
  line-height: 2;
  font-size: 12px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.explore {
  background-image: url("/static/ribbon.png");
  background-repeat: no-repeat;
  display: block;
  width: 274px;
  height: 51px;
  line-height: 51px;
  margin: auto;
}

.explore:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-pagination {
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.plate-pagination a {
  margin: 0px 20px;
}

.plate-pagination img {
  display: block;
  height: 100%;
}

.all-plates {
  display: flex;
  margin-top: 70px;
}

.plate-container {
  display: flex;
  overflow-x: auto;
}

.plate {
  flex: 0 0 auto;
  width: 12.5%;
  /* width: 14.2857142857%; */
  text-align: center;
  padding: 0px;
}

.plate-image,
.plate-video {
  width: 100%;
  margin-bottom: 15px;
}

.listing {
  max-width: 45%;
  border-radius: 100%;
  border: 1px solid #000;
  margin: 15px auto;
}

.listing-image {
  display: block;
  width: 100%;
  border-radius: 100%;
  opacity: 0.1;
}

.listing-image:hover {
  opacity: 1;
}

.plate-detail-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plate-detail-header h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.plate-detail-header p {
  font-size: 12px;
  white-space: pre;
}

.plate-detail-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate-model-holder {
  width: 400px;
  height: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-machine-vision {
  margin-left: 100px;
}

.plate-detail-paginate {
  margin: 20px;
}

.plate-detail-image {
  max-height: 200px;
}

.plate-detail-listings {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.plate-detail-listing {
  width: 12.5%;
  padding: 10px;
  font-size: 11px;
  /* border: 1px solid #000; */
}

.plate-detail-listing:hover {
  outline: 1px solid #000;
}

.plate-detail-listing p {
  margin: 0;
}

.plate-detail-listing img {
  width: 100%;
}

.plate-detail-listing p img {
  width: 8px;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  opacity: 0;
}

.marker.selected {
  opacity: 1;
}

#map-container {
  position: absolute;
  top: 90px;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#map-plate-holder {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 90px;
  bottom: 0;
  width: 110px;
  /* overflow-y: scroll; */
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}

.paginate-up,
.paginate-down {
  margin: 10px;
  padding: 10px;
}

.paginate-up img,
.paginate-down img {
  width: 100%;
  display: block;
}

#map-plate-holder .mapPlate {
  display: block;
  margin: auto;
  padding: 6px 6px;
  cursor: pointer;
}

#map-plate-holder .mapPlate img {
  display: block;
  width: 100%;
}

#map-plate-holder .selected {
  background-color: #edfd38;
}

.map-plates {
  flex-shrink: 1;
  overflow: scroll;
}

.map-container {
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.map-item {
  position: absolute;
  width: 20px;
  height: 20px;
}

.map-listing-image {
  width: 100%;
  display: block;
  border-radius: 100%;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 10px;
  line-height: 1.6;
}
.tooltip .tooltip-inner {
  background: #231f20;
  color: #edfd38;
  border: 1px solid #edfd38;
  /* border-radius: 16px; */
  /* padding: 5px 10px 4px; */
  padding: 15px;
  max-width: 200px;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #edfd38;
  z-index: 1;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 10px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.mapboxgl-popup-content {
  background: #231f20;
  color: #edfd38;
  border: 1px solid #edfd38;
  max-width: 300px;
  font-size: 10px;
}

.mapboxgl-popup-content a {
  color: #edfd38;
  text-decoration: underline;
}

.mapboxgl-popup-content h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.mapboxgl-popup-content p {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #edfd38;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #edfd38;
}

@media (max-device-width: 768px) {
  #logo {
    font-size: 16px;
  }
  nav {
    font-size: 12px;
  }
  .plate {
    width: 50%;
  }

  .plate-model-holder {
    width: 100%;
  }

  .plate-machine-vision {
    margin-left: 10px;
    width: 100px;
  }

  .plate-detail-listing {
    width: 50%;
  }
}
